<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.wlabuda.fortranalpha" >
    <uses-permission android:name="android.permission.SET_DEBUG_APP"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/android_logo"
        android:debuggable="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/CustomAppTheme1"
            android:name=".ListViewMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GraniastoslupPrawidlowyTrojkatny"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/CustomAppTheme"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:label="Graniastosłup prawidłowy trójkątny"></activity>

        <activity android:name=".Szescian"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/CustomAppTheme"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:label="Sześcian"></activity>

        <activity android:name=".Kwadrat"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/CustomAppTheme"
            android:configChanges="orientation|keyboardHidden"
            android:label="Kwadrat"></activity>

        <activity android:name=".TrojkatPrawidlowy"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/CustomAppTheme"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:label="Trojkąt prawidlowy"></activity>

        <activity android:name=".TrojkatProstokatny"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="landscape"
            android:theme="@style/CustomAppTheme"
            android:configChanges="orientation|keyboardHidden"
            android:label="Trojkąt prostokątny"></activity>

        <activity android:name=".Tales"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/CustomAppTheme"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:label="Twierdzenie Talesa"></activity>

        <activity android:name=".Katy"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/CustomAppTheme"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:label="Zależności pomiędzy kątami"></activity>

        <activity android:name=".NowaKlasa"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/CustomAppTheme"
            android:configChanges="orientation|keyboardHidden"
            android:label="NowaKlasa"></activity>

        <activity android:name=".ListViewGeometriaNaPlaszczyznie"
            android:theme="@style/CustomAppTheme1"
            android:label="Geometria na plaszczyźnie"></activity>

        <activity android:name=".ListViewGeometriaWPrzestrzeni"
            android:theme="@style/CustomAppTheme1"
            android:label="Geometria w przestrzeni"></activity>
    </application>

</manifest>
